
.Search {
	width : 29%;
	height : 35px;
}

.card {
	width : 370px;
}
#card:hover {
	background : #ffff4d ;
}
.active {
	background : #ffff4d !important;
}
hr {
	margin-block-start : 0px;
	margin-block-end : 0px;
}